.contact {
    display: flex;
    height: 600px;
}


.image {
    height: 600px;
    width: 475px;
}



.contact1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 15px;
    padding: 20px;
}


.imput {
    width: 350px;
    padding: 15px;
    border-radius: 7px;
    border: solid;
}


.area {
    width: 480px;
    margin-left: 5px;
    border-radius: 7px;
    border: solid;
}



.form {
    padding: 30px;
}


.fname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 20px;
    padding: 10px;
}



.imput1 {
    padding: 15px;
    margin-left: 38px;
    width: 350px;
    border-radius: 7px;
    border: solid;
}
